.sidebar {
  background-color: #666;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-left: 3px solid white;
  box-shadow: 0 0 5px 0 black;
}

.infobox {
  background-color: #555;
  border: 2px solid black;
  top: 2px;
  left: -157px;
  width: 140px;
  pointer-events: none;
  position: absolute;
  z-index: 20;
  padding: 6px;
  border-radius: 10px 0px 10px 10px;
  font-family: 'Merriweather', serif;
  font-size: 10pt;
}
